<div ng-cloak>
    <form name="contact_form" novalidate class="form-horizontal" role="form"
        ng-submit="contact_form.$valid && saveContact()">
        <div class="row">
            <div class="col-md-6">
                <h3 translate="contact-edit.general.title-general"></h3>
                <hr style="border-color: black;">
                <div class="form-group row">
                    <label class="control-label col-sm-3"
                        translate="contact-edit.general.contact-name">Name</label>
                    <div class="col-sm-3" class="form-group row">
                        <input ng-model="contact.firstName" type="text" name="name" class="form-control"
                            style="margin-bottom: 10px"
                            placeholder="{{'contact-edit.placeholder.first-name'|translate}}"
                            data-toggle="tooltip" title="Chay">
                    </div>
                    <div class="col-sm-3" class="form-group row">
                        <input ng-model="contact.middleName" type="text" name="name" class="form-control"
                            style="margin-bottom: 10px"
                            placeholder="{{'contact-edit.placeholder.middle-name'|translate}}">
                    </div>
                    <div class="col-sm-3" class="form-group row">
                        <input ng-model="contact.lastName" type="text" name="name" class="form-control"
                            style="margin-bottom: 10px"
                            placeholder="{{'contact-edit.placeholder.last-name'|translate}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-3"
                        translate="contact-edit.general.display-name"></label>
                    <div class="col-sm-9">
                        <select class="form-control" ng-model="contact.displayName">
                            <option>Trieu</option>
                        </select>

                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-3"
                        translate="contact-edit.general.email"></label>
                    <div class="col-sm-9">
                        <input ng-model="contact.email" type="email" name="name" class="form-control"
                            placeholder="{{'contact-edit.placeholder.email'|translate}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-3"
                        translate="contact-edit.general.mobile"></label>
                    <div class="col-sm-9">
                        <input ng-model="contact.mobile" type="text" name="name" class="form-control"
                            placeholder="{{'contact-edit.placeholder.mobile'|translate}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-3"
                        translate="contact-edit.general.photo"></label>
                    <div class="col-sm-9">
                        <a class="thumbnail" href="#" style="width: 128px; height: 100px;"
                            align="center">Photo</a>
                    </div>
                </div>
                <h3 translate="contact-edit.home.title-home"></h3>
                <hr style="border-color: black;">
                <div class="form-group row">
                    <label class="control-label col-sm-3"
                        translate="contact-edit.home.add-line1"></label>
                    <div class="col-sm-9">
                        <input ng-model="contact.home.address.addrLine1" type="text" name="name" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-3"
                        translate="contact-edit.home.add-line2"></label>
                    <div class="col-sm-9">
                        <input ng-model="contact.home.address.addrLine2" type="text" name="name" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-3"
                        translate="contact-edit.home.city"></label>
                    <div class="col-sm-9">
                        <input type="text" name="name" class="form-control"
                            placeholder="{{'contact-edit.placeholder.city'|translate}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-3"
                        translate="contact-edit.home.state"></label>
                    <div class="col-sm-9">
                        <input ng-model="contact.home.address.city" type="text" name="name" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-3"
                        translate="contact-edit.home.zip-code"></label>
                    <div class="col-sm-3" style="width: 100px;">
                        <input ng-model="contact.home.address.postalCode" type="text" name="name" class="form-control" maxlength="5">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-3"
                        translate="contact-edit.home.country"></label>
                    <div class="col-sm-9">
                        <select class="form-control" ng-model="contact.home.address.country"
                             ng-options="c.countryCode as c.country for c in countries">
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-3"
                        translate="contact-edit.home.phone"></label>
                    <div class="col-sm-9">
                        <input ng-model="contact.home.phone" type="text" name="name" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-3"
                        translate="contact-edit.home.fax">Fax</label>
                    <div class="col-sm-9">
                        <input ng-model="contact.home.fax" type="text" name="name" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <!-- Begin Work Group-->
                <h3>Work</h3>
                <hr style="border-color: black;" />
                <div class="form-group row">
                    <label for="inputEmail" class="control-label col-sm-3" translate="contact-edit.work.job-title">Job Title</label> 
                    <div class="col-sm-9">
                       <input ng-model="contact.work.title" type="text" class="form-control" id="inputEmail">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputMobile" class="control-label col-sm-3" translate="contact-edit.work.department">Department</label> 
                    <div class="col-sm-9">
                       <input ng-model="contact.work.department" type="text" class="form-control" id="inputMobile">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="selectCompany" class="control-label col-sm-3" translate="contact-edit.work.company-name">Company Name</label>
                    <div class="col-sm-9">
                        <div class="col-sm-6">
	                         <select class="form-control" id = "selectCompany" ng-model="contact.work.companyId"
	                             ng-options="company.id as company.name for company in companies">
	                         </select>
	                     </div>
	                    <div class="col-sm-3">
	                        <button a href="" class="btn btn-default"
	                            translate="contact-edit.button.edit-company" 
	                            ng-disabled="hasSelectedCompany() === false"
	                            ng-click="openDialogUpdateCompany()" ></button>
	                    </div>
	                    <div class="col-sm-3">
	                        <button class="btn btn-default"
	                            translate="contact-edit.button.new-company"
	                            ng-click="openDialogCreateCompany()"></button>
	                    </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9" class="thumbnail">
                        <a href="#" class="thumbnail" style="width: 128px; height: 100px">
                            Logo </a>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputMessage" class="control-label col-sm-3"
                        translate="contact-edit.work.message">Message</label>
                    <div class="col-sm-9">
                       <input ng-model="contact.work.company.message" class="form-control" id="inputMessage"
                            readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputWebsite" class="control-label col-sm-3"
                        translate="contact-edit.work.website"></label>
                    <div class="col-sm-9">
                       <input ng-model="contact.work.company.website" class="form-control" id="inputWebsite"
                           readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputAddrLine1" class="control-label col-sm-3"
                        translate="contact-edit.home.add-line1"> </label>
                    <div class="col-sm-9">
                       <input ng-model="contact.work.company.address.addrLine1" class="form-control" id="inputAddrLine1"
                           readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputAddrLine2" class="control-label col-sm-3"
                        translate="contact-edit.home.add-line2"></label>
                    <div class="col-sm-9">
                       <input ng-model="contact.work.company.address.addrLine2" class="form-control" id="inputAddrLine2"
                           readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputCity" class="control-label col-sm-3"
                        translate="contact-edit.home.city"></label>
                    <div class="col-sm-9">
                       <input ng-model="contact.work.company.address.city" class="form-control" id="inputCity"
                           readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputState" class="control-label col-sm-3"
                        translate="contact-edit.home.state">State</label>
                    <div class="col-sm-9">
                       <input ng-model="contact.work.company.address.state" class="form-control" id="inputState"
                           readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputZipCode" class="control-label col-sm-3"
                        translate="contact-edit.home.zip-code"></label>
                    <div class="col-sm-9">
                       <input ng-model="contact.work.company.address.postalCode" type="number" class="form-control" 
                           id="inputZipCode" style="width: 100px" min="5" max="5" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="selectCountry" class="control-label col-sm-3"
                        translate="contact-edit.home.country">Country</label>
                    <div class="col-sm-9">
                        <select class="form-control" id="selectCountry" disabled
                            ng-model="contact.work.company.address.country"
                            ng-options="c.countryCode as c.country for c in countries">
                         </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPhone" class="control-label col-sm-3"
                        translate="contact-edit.home.phone"></label>
                    <div class="col-sm-9">
                       <input ng-model="contact.work.company.phone" type="text" class="form-control" id="inputPhone"
                           readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="input" class="control-label col-sm-3"
                        translate="contact-edit.home.fax"></label>
                    <div class="col-sm-9">
                       <input ng-model="contact.work.company.fax" type="text" class="form-control" id="inputFax"
                           readonly>
                    </div>
                </div>
                <!-- End Work Group-->
            </div>
        </div>
        <div class="form-group row" class="row">
            <div class="col-md-6 col-xs-6">
                <button class="btn btn-default" style="float: right; width: 100px"
                    translate="contact-edit.button.save-contact"></button>
            </div>
            <div class="col-md-6 col-xs-6">
                <a href="#contact" class="btn btn-default" style="width: 100px"
                    translate="contact-edit.button.cancel-contact"></a>
            </div>
        </div>
    </form>

</div>

<!-- Modal -->
    <div class="modal fade" id="companyInfoModal" role="dialog"
        aria-labelledby="companyInfoLabel" aria-hidden="true">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times; </span> <span class="sr-only">Close</span>
                        </button>
                        <h3 class="modal-title" id="companyInfoLabel" style="color: white" translate="contact-edit.work.edit-company">Edit Company</h3>
                    </div>

                    <div class="modal-body row">
                        <div class="form-group row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9" class="thumbnail">
                                <a href="#" class="thumbnail" style="width: 128px; height: 100px">
                                    Logo </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label for="selectCompany" class="control-label col-sm-3" translate="contact-edit.work.company-name">Company Name</label>
                                <div class="col-sm-9">
                                    <input class="form-control" id = "selectCompany" ng-model="selectedCompany.name"/>
                                </div>
                           </div>
                            <div class="form-group row">
                                <label for="inputMessage" class="control-label col-sm-3"
                                    translate="contact-edit.work.message">Message</label>
                                <div class="col-sm-9">
                                   <input ng-model="selectedCompany.message" class="form-control" id="inputMessage">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputWebsite" class="control-label col-sm-3"
                                    translate="contact-edit.work.website"></label>
                                <div class="col-sm-9">
                                   <input ng-model="selectedCompany.website" class="form-control" id="inputWebsite">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputPhone" class="control-label col-sm-3"
                                    translate="contact-edit.home.phone"></label>
                                <div class="col-sm-9">
                                   <input ng-model="selectedCompany.phone" type="text" class="form-control" id="inputPhone">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="input" class="control-label col-sm-3"
                                    translate="contact-edit.home.fax"></label>
                                <div class="col-sm-9">
                                   <input ng-model="selectedCompany.fax" type="text" class="form-control" id="inputFax">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label for="inputAddrLine1" class="control-label col-sm-3"
                                    translate="contact-edit.home.add-line1"> </label>
                                <div class="col-sm-9">
                                   <input ng-model="selectedCompany.address.addrLine1" class="form-control" id="inputAddrLine1">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputAddrLine2" class="control-label col-sm-3"
                                    translate="contact-edit.home.add-line2"></label>
                                <div class="col-sm-9">
                                   <input ng-model="selectedCompany.address.addrLine2" class="form-control" id="inputAddrLine2">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputCity" class="control-label col-sm-3"
                                    translate="contact-edit.home.city"></label>
                                <div class="col-sm-9">
                                   <input ng-model="selectedCompany.address.city" class="form-control" id="inputCity">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputState" class="control-label col-sm-3"
                                    translate="contact-edit.home.state">State</label>
                                <div class="col-sm-9">
                                   <input ng-model="selectedCompany.address.state" class="form-control" id="inputState">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputZipCode" class="control-label col-sm-3"
                                    translate="contact-edit.home.zip-code"></label>
                                <div class="col-sm-9">
                                   <input ng-model="selectedCompany.address.postalCode" type="number" class="form-control" 
                                       id="inputZipCode" style="width: 100px" min="5" max="5">
                                </div>
                            </div>
                            <div class="form-group row">
		                    <label for="selectCountry" class="control-label col-sm-3"
		                        translate="contact-edit.home.country">Country</label>
		                    <div class="col-sm-9">
		                        <select class="form-control" id="selectCountry"
		                            ng-model="selectedCompany.address.country"
		                            ng-options="c.countryCode as c.country for c in countries">
		                         </select>
		                    </div>
                </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                         <div class="col-md-6 col-xs-6">
			                <button class="btn btn-default" style="float: right; width: 100px"
			                    translate="contact-edit.button.save-company" ng-click="saveCompany()"></button>
			            </div>
			            <div class="col-md-6 col-xs-6">
			                <button class="btn btn-default" style="width: 100px"
			                    translate="contact-edit.button.cancel-company" data-dismiss="modal"></button>
			            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>