<div ng-cloak>
	<a href="#contact/new" class="btn btn-default" translate="contact.button.add-contact">Add Contact</a>

	<hr>

	<form name="contact_form" novalidate class="form-horizontal"
		role="form" ng-submit="searchContacts(0)">
		<div class="container">
			<div class="row">
				<div class="form-group col-sm-6">
					</div>
				</div>
				<div class="form-group col-sm-6">
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="form-group col-sm-6">
					</div>
				</div>
				<div class="form-group col-sm-6">
					</div>

				</div>
			</div>

			<div class="row">
				<div class="form-group col-sm-6">
					</div>
				</div>
				<div class="form-group col-sm-6">
					</div>
				</div>
			</div>
			
			<div class="form-group">
			</div>
		</div>
	</form>

	<hr>

	<div>
		<div>Search Results</div>

		<button class="btn btn-default pull-right delete-contact-button"
				translate="contact.button.delete" 
				ng-click="deleteContacts()" 
				ng-disabled="!checkedIds.length">
			Delete
		</button>		
		<table ng-table="contactsTableParams" class="table">
			<th>
				<input type="checkbox" ng-model="checkboxes.checked" 
						id="select_all" name="filter-checkbox" value="" />
			</th>
			<th class="data-table-title" translate="contact.contact-field.name">Name</th>
			<th class="data-table-title" translate="contact.contact-field.mobile">Mobile</th>
			<th class="data-table-title" translate="contact.contact-field.email">E-mail</th>
			<th class="data-table-title" translate="contact.contact-field.job-title">Job Title</th>
			<th class="data-table-title" translate="contact.contact-field.department">Department</th>
			<th class="data-table-title" translate="contact.contact-field.company">Company</th>
			
			<tr ng-repeat="user in $data">
				<td width="30" style="text-align: left"
					header="'ng-table/headers/checkbox.html'">
					<input type="checkbox" ng-model="checkboxes.items[user.id]" />
				</td>
				<td data-title="'Name'">{{user.name}}</td>
				<td data-title="'Name'">{{user.mobile}}</td>
				<td data-title="'Mobile'">{{user.email}}</td>
				<td data-title="'Job Title'">{{user.jobTitle}}</td>
				<td data-title="'Department'">{{user.department}}</td>
				<td data-title="'Company'">
					<a href="" data-toggle="modal" data-target="#myModal">{{user.company}}</a>
				</td>
			</tr>
		</table>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Company Info</h4>
				</div>
				<div class="modal-body">
					<p>Name: {{namecompany}}</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
</div>
