<div ng-loak>
    <a href="" class="btn btn-default " data-toggle="modal"
        data-target="#userModal" translate="user.button.add-user"
        ng-click="initUser()">Add user</a>

    <hr>

    <form name="user_form" novalidate class="form-horizontal" role="form"
        ng-submit="searchUsers()">
        <div class="container">
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="firstname" class="control-label col-md-3"
                        translate="user.search-form.username">Username</label>
                    <div class="col-md-9">
                        <input type="text" name="firstName" class="form-control"
                            ng-model="criteria.username">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="lastname" class="control-label col-md-3"
                        translate="user.search-form.email">Email</label>
                    <div class="col-md-9">
                        <input type="text" name="email" class="form-control"
                            ng-model="criteria.email">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label for="name" class="control-label col-md-3"
                        translate="user.search-form.firstlastname">First Name</label>
                    <div class="col-md-9">
                        <input type="text" name="firstlastname" class="form-control"
                            ng-model="criteria.firstlastName">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label col-md-3"
                        translate="user.search-form.createdfrom">Created From</label>
                    <div class="col-md-4">
                        <input type="date" placeholder="MM/DD/YYYY" name="createdFrom"
                            class="form-control" ng-model="criteria.createdFrom">
                    </div>
                    <label class="control-label col-md-1"
                        translate="user.search-form.createdto">Created To</label>
                    <div class="col-md-4">
                        <input type="date" name="createdTo" class="form-control date"
                            ng-model="criteria.createdTo">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label for="assignedcompanies" class="control-label col-md-3"
                        translate="user.search-form.assignedcompanies">Assigned
                        Companies</label>
                    <div class="col-md-9">
                        <select class="form-control" ng-model="criteria.assignedCompanies">
                            <option value=""></option>
                            <option ng-repeat="assignedcompany in assignedcompanies"
                                value="{{assignedcompany.name}}">{{assignedcompany.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="role" class="control-label col-md-3"
                        translate="user.search-form.role">Role</label>
                    <div class="col-md-9">
                        <select class="form-control" ng-model="criteria.role">
                            <option value=""></option>
                            <option ng-repeat="role in role" value="{{role.name}}">{{role.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default search-contact-button"
                    translate="user.button.search"></button>
            </div>
        </div>
    </form>

    <hr>
    <div ng-show="searchClicked && !users.length"
        translate="user.search-result.noresult">No result</div>
    <div ng-show="users.length">
        <div translate="user.search-result.result">Search Results</div>
        <button class="btn btn-default pull-right delete-user-button"
            translate="user.button.delete" ng-click="deleteUsers()"
            ng-disabled="!selectedIds.length">Delete</button>
        <button class="btn btn-default pull-right activate-user-button"
            translate="user.button.activate" ng-click="activateUsers()"
            ng-disabled="!selectedIds.length">Activate</button>
        <button class="btn btn-default pull-right activate-user-button"
            translate="user.button.inactivate" ng-click="deactivateUsers()"
            ng-disabled="!selectedIds.length">Inactivate</button>
        <table ng-table="usersTableParams" class="table">
            <th><input id="check_all" type="checkbox"
                ng-model="users.checked" ng-checked="users.checked"
                ng-click="toggleCheckAll()" /></th>
            <th class="data-table-title" translate="user.search-result.username">Username</th>

            <th class="data-table-title" translate="user.search-result.firstname">First
                Name</th>
            <th class="data-table-title" translate="user.search-result.lastname">Last
                Name</th>
            <th class="data-table-title" translate="user.search-result.email">Email</th>
            <th class="data-table-title" translate="user.search-result.role">Role</th>
            <th class="data-table-title" translate="user.search-result.status"></th>

            <tr ng-repeat="user in $data">
                <td width="30" style="text-align: left"
                    header="'ng-table/headers/checkbox.html'"><input
                    type="checkbox" ng-model="user.checked" ng-checked="user.checked" />
                </td>
                <td data-title="'Username'"><a href="" data-toggle="modal"
                    data-target="#userModal" ng-click="setUser(user)">{{user.username}}</a>
                </td>
                <td data-title="'First Name'">{{user.firstname}}</td>
                <td data-title="'Last Name'">{{user.lastname}}</td>
                <td data-title="'Email'">{{user.email}}</td>
                <td data-title="'Role'">{{user.role}}</td>
                <td data-title="'Status'">
                    <p ng-show="user.active" translate="user.search-result.active">Active</p>
                    <p ng-show="!user.active" translate="user.search-result.inactive">Inacitve</p>
                </td>
            </tr>
        </table>
    </div>
    
    <!-- Show add user dialog -->
    <form name="addUser_form" novalidate class="form-horizontal"
        role="form" ng-submit="saveUser()">
        <div class="modal fade" id="userModal" tabindex="-1" role="dialog"
            aria-labelledby="myModalLabel" aria-hidden="false">
            <div class="vertical-alignment-helper">
                <div class="vertical-alignment-helper">
                    <div class="modal-dialog vertical-align-center">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">
                                    <span aria-hidden="true">&times; </span> <span class="sr-only">Close</span>
                                </button>
                                <h3 class="modal-title" id="myModalLabel" style="color: white"
                                    translate="user.field.title">Add/Edit user</h3>
                            </div>
                            <div class="modal-body" id="size-dialog">
                                <div class="row">
                                    <div class="col-md-6 form-horizontal">
                                        <div class="form-group">
                                            <label for="username" class="col-sm-5 control-label"
                                                translate="user.field.username">Username</label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" name="username"
                                                    ng-class="{red: validator.username}" data-toggle="tooltip" 
                                                    title="{{validator.username}}"
                                                    ng-model="user.username">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="password" class="col-sm-5 control-label"
                                                translate="user.field.pass">New Password</label>
                                            <div class="col-sm-7">
                                                <input type="password" class="form-control" name="password"
                                                    ng-model="user.password" ng-class="{red: validator.password}" >
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="confirm-password" class="col-sm-5 control-label"
                                                required translate="user.field.pass-conf">Confirm
                                                New Password</label>
                                            <div class="col-sm-7">
                                                <input type="password" class="form-control"
                                                    name="confirm-password" ng-model="confirmPassword">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="language" class="col-sm-5 control-label"
                                                translate="user.field.language">Language</label>
                                            <div class="col-sm-7">
                                                <select class="form-control" ng-model="user.language">
                                                    <option value="EN">ENGLISH</option>
                                                    <option value="VI">VIETNAMESE</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="role" class="col-sm-5 control-label"
                                                translate="user.field.role">Role</label>
                                            <div class="col-sm-7">
                                                <select class="form-control" ng-model="user.role">
                                                    <option ng-repeat="role in roles" value="{{role}}">{{role}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 form-horizontal">
                                        <div class="form-group">
                                            <label for="first_name" class="col-sm-5 control-label"
                                                translate="user.field.first-name">First Name</label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" name="first_name"
                                                    ng-model="user.firstname">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="last_name" class="col-sm-5 control-label"
                                                translate="user.field.last-name">Last Name</label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" name="last_name"
                                                    ng-model="user.lastname">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="ass_company" class="col-sm-5 control-label"
                                                translate="user.field.ass-com">Assigned Companies</label>
                                            <div class="col-sm-7">
                                                <div ng-dropdown-multiselect="" options="assignedcompanies"
                                                    selected-model="selectedCompanies" checkboxes="true"
                                                    extra-settings="companysetting" translation-texts=""></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="expired_date" class="col-sm-5 control-label"
                                                translate="user.field.ex-date">Expired Date</label>
                                            <div class="col-sm-7">
                                                <p class="input-group">
                                                    <input type="text" class="form-control"
                                                        datepicker-popup="{{format}}" ng-model="user.expiredDate"
                                                        placeholder="YYYY-MM-DD" is-open="opened"
                                                        min-date="minDate" datepicker-options="dateOptions"
                                                        date-disabled="disabled(date, mode)" ng-required="true"
                                                        close-text="Close" disabled /> <span
                                                        class="input-group-btn">
                                                        <button type="button" class="btn btn-default"
                                                            ng-click="open($event)">
                                                            <i class="glyphicon glyphicon-calendar"></i>
                                                        </button>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="active" class="col-sm-5 control-label"
                                                translate="user.field.active">Active</label>
                                            <div class="col-sm-7">
                                                <input type="radio" name="active"
                                                    ng-model="checkboxSelection" ng-value="1"> <label
                                                    for="yes" translate="user.field.yes-active">Yes </label> <input
                                                    type="radio" name="active" ng-model="checkboxSelection"
                                                    ng-value="0"> <label for="no" class="control-label"
                                                    translate="user.field.no-active">No </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-xs-6">
                                        <button type="submit" class="btn btn-primary save-user-button"
                                            style="float: right; width: 80px" value="save"
                                            translate="user.button.btn-save">Save</button>
                                    </div>
                                    <div class="col-md-6 col-xs-6">
                                        <button type="button" class="btn btn-primary"
                                            ng-click="initUser()" style="width: 80px" value="cancel"
                                            translate="user.button.btn-cancel" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
